/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
	background: #f6f6f7 url(../_img/background_noise.jpg) top left;
	}
	
h1 {
	font-family: 'Trocchi', serif;
	font-weight: normal;
	color: #fff;
	text-shadow:0px -1px 1px #ccc;
	}
	
.green {
	color: #8dc63f;
	text-shadow:0px -1px 1px #999;
	}

h2 {
	font-family: 'Trocchi', serif;
	font-weight: normal;
	color: #333;
	font-size: 16px;
	text-shadow:0px 1px 1px #fff;
	}
	
h2.top {
	float: left;
	width: 150px;
	}
	
#shim {
	margin: 50px 0 0 250px; 
	border: 1px solid #ccc;
	}
	
#rule {
	clear: both;
	margin: 0px 0 5px 0;
	height: 2px;
	width: 100%;
	float: left;
	background: #ccc;
	border-bottom: 1px solid #fff;
	}
	
.views-row {
	padding: 10px;
	}
	
.views-row-even { background: #fff; }
.views-row-odd { background: #fafafa; }



html, body {
	height: 100%;
	min-height: 100%;
}

.block {
	background: #fff;
	padding: 0px;
	border: 1px solid #ddd;
	-moz-box-shadow:     0 0 10px #ddd;
   -webkit-box-shadow:  0 0 10px #ddd;
   box-shadow:          0 0 10px #ddd;
	font-family: 'Signika', sans-serif;
	font-weight: 300;
	line-height: 18px;
	font-size: 13px;
	margin: 0 0 10px 0;
}


.block p {
	margin: 5px 0;
	padding: 5px 10px;
	}

.block h5 {
	background: #c00;
	color: #999;
	padding: 5px 0 5px 10px;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	font-family: 'Signika', sans-serif;
	font-weight: 700;
	margin: 0px;
	-moz-box-shadow:     0px 1px 2px #ccc;
   -webkit-box-shadow:  0px 1px 2px #ccc;
   box-shadow:          0px 1px 2px #ccc;
	background: #eee;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
	background: -moz-linear-gradient(top,  #eee,  #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#ddd');
	}
	
.block h5 .timestamp {
	font-weight: 400;
	padding: 0 0 0 40px;
	}
	
#pane {
	background: #fff;
	border: 1px solid #eee;
	width: 598px;
	padding: 0 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }
  
#toolbar {
	width: 100%;
	margin: 0;
	padding: 0;
	background: #6c207f;
	background: #ddd;
	border-bottom: 1px solid #fff;
	-moz-box-shadow:     0px 1px 2px #ccc;
   -webkit-box-shadow:  0px 1px 2px #ccc;
   box-shadow:          0px 1px 2px #ccc;
	}
	
#toolbar a {
	color: #521162;
	text-decoration: none;
	font-size: 120%;
	text-shadow: 0px 1px 0px #fff;
	display: block;
	padding: 10px 15px 20px 15px;
	}
	
#toolbar a:hover { 
	background: #eee;
	}
	
#toolbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	}
	
#toolbar li {
	float: left;
	margin: 0;
	}
	

#widget {
overflow: hidden;
padding: 0;
height: 700px; /* You should adjust this height for your project. */
position: relative;
float: left;
width: 100%;
}

#results #widget, .detail #widget {
height: auto;
}

#widget li  {
padding: 0px;
clear: left;
overflow: hidden;
position: relative;
top: 0;
margin: 0;
height: 140px; /* Change this to fit your needs. The plugin will access this value if you don't pass a parameter in when you call it. */
}

#results #widget li  {
height: 110px;
}

#results #widget li div.paper-record {
height: 100px;
}

.detail #widget li {
height: auto;
}

.detail #widget li div.paper-record {
height: auto;
}

.detail #widget li p {
	margin: 0 5px;
	}
	
.text-label {
	width: 120px;
	font-style: italic;
	display: block;
	float: left;
	}

#widget li div.paper-record {
background: #fff;
	padding: 0px;
	border-bottom: 1px solid #999;
	font-family: 'Signika', sans-serif;
	font-weight: 300;
	line-height: 18px;
	font-size: 13px;
	margin: 0 0 10px 0;
	clear: left;
overflow: hidden;
position: relative;
top: 0;
height: 120px; /* Change this to fit your needs. The plugin will access this value if you don't pass a parameter in when you call it. */
}

h4 a {
font-family: 'Signika', sans-serif;
	color: #6d2780;
	text-decoration: underline;
	font-weight: 300;
font-size: 16px;
margin: 0 5px;
padding-top: 5px;
display: block;
line-height: 18px;
}

.class-detail h4 {
font-family: 'Signika', sans-serif;
color: #6d2780;
	font-size: 20px;
line-height: 20px;
margin: 0 0 20px 0; 
padding: 10px 0 0 0;
font-weight: 400;
text-decoration: none;
}

.paper {
height: 80px;
border-bottom: 1px dashed #ccc;
}

.authors {
	margin: 0 5px;
	font-style: italic;
	line-height: 14px;
	}
	
.class-detail .authors {
	margin: 0 0 5px 0;
	color: #000;
	}

li p.activity {
color: #474747;
margin: 0;
	float: right;
	width: 140px;
	color: #666;
	padding: 5px 0 5px 5px;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	font-family: 'Signika', sans-serif;
	font-weight: 700;
	margin: 0px 0 0 5px;
	border: 1px dashed #ccc;
	background: #ffe;
	
}	

	
	
.new-comment .comment {
	background: #fcf9f9;
	display: block;
	padding: 3px;
	font-style: italic;
	}
	
.new-tweet .tweet {
	background: #f9f9fc;
	display: block;
	padding: 3px;
	font-style: italic;
	}
	
.date {
	font-weight: 300;
	}
	
.by a {
	color: #003471;
	text-decoration: none;
	text-transform: none;
	}
	
.title a {
	color: #003471;
	text-decoration: none;
	font-weight: 400;
	}
.title a:hover {
	background: #ffc;
	}	

.doi a {
	color: #003471;
	text-decoration: none;
	font-weight: 400;
	}
	

#footer {
    background: #efedea;
    border-top: 1px solid #c0c0c0;
    padding: 20px 0;
    margin-top: 20px;
    }
    
#footer .container {
    background: url(../_img/fsu.png) top right no-repeat;
    }
    
    
#mask{position:absolute;left:0;top:0;z-index:9000;background-color:#000;display:none;}
#boxes .window{position:fixed;left:0;top:0;width:440px;height:200px;display:none;z-index:9999;padding:20px;}
#boxes #dialog{width:375px;height:203px;padding:10px;background-color:#ffffff;}

.rated {
	margin: 2px 2px 0 0;
	}
	
.rating-group {
	font-size: 90%;
	}
	
.export-tools {
	float: right;
	width: 50px;
	border: 1px solid #ccc;
	margin: 5px 5px 10px 15px;
	padding: 5px;
	}
	
	
.tabs { padding: 0; clear: both; margin: 40px 0; }
.tabs li { display: inline; }
.tabs li a { background: #ccf; padding: 10px; float:left; border-bottom: 1px solid #eee; text-decoration: none; color: #000;}
.tabs li.active a { background: #fff; border-bottom: 1px solid #fff !important; }
.content { float: left; clear: both; border: 1px solid #eee; 
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
		border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-right-radius: 5px;
		border-bottom-right-radius: 5px; border-top: none; background: #fff; padding: 20px; width: auto; margin: 0; }

	

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Standard 960 (devices and browsers) */
	@media only screen and (min-width: 960px) {
	#login { height: 450px; }
	}


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	#pane { width: 470px; }
	#login { height: 400px; }
	
	
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
	#pane { width: 278px; }
	.knockout { display: none; }
	
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	#pane { width: 398px; }
	.knockout { display: none; }
	
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) { 
	#social-login { text-align: center; }
	#social-login a { margin: 0 auto; display: inline; }
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/