/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
	background: #f6f6f7 url(../_img/background_noise.jpg) top left;
	}
	
html, body {
	height: 100%;
	min-height: 100%;
}
	
h1 {
	font-family: 'Trocchi', serif;
	font-weight: normal;
	color: #fff;
	text-shadow:0px -1px 1px #ccc;
	}


h2 {
	font-family: 'Trocchi', serif;
	font-weight: normal;
	color: #333;
	font-size: 16px;
	text-shadow:0px 1px 1px #fff;
	}
	
h2.top {
	float: left;
	width: 150px;
	}
	
.contact {
	border-top: 1px solid #ddd;
	margin-top: 40px;
	margin-right: 20px;
	padding-top: 20px;
	}
	
#toolbar {
	width: 100%;
	margin: 0;
	padding: 0;
	background: #6c207f;
	background: #ddd;
	border-bottom: 1px solid #fff;
	-moz-box-shadow:     0px 1px 2px #ccc;
   -webkit-box-shadow:  0px 1px 2px #ccc;
   box-shadow:          0px 1px 2px #ccc;
   
   background-color: #ddd;
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#c6c5c7));
   background-image: -webkit-linear-gradient(top, #ddd, #c6c5c7); 
   background-image:    -moz-linear-gradient(top, #ddd, #c6c5c7);
   background-image:     -ms-linear-gradient(top, #ddd, #c6c5c7);
   background-image:      -o-linear-gradient(top, #ddd, #c6c5c7);
	}
	
#toolbar a {
	color: #521162;
	text-decoration: none;
	font-size: 120%;
	text-shadow: 0px 1px 0px #fff;
	display: block;
	padding: 10px 15px 20px 15px;
	}
	
#toolbar a:hover { 
	background: #eee;
	}
	
#toolbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	}
	
#toolbar li {
	float: left;
	margin: 0;
	}





/* #Result Rows
================================================== */

#pane-results {
	border: 0px solid #eee;
	width: 620px;
	padding: 0 0px;
  }
  
.row {
	padding: 0px;
	margin: 0 0 10px 0;
	-moz-box-shadow:     0px 0px 3px #ddd;
   -webkit-box-shadow:  0px 0px 3px #ddd;
   box-shadow:          0px 0px 3px #ddd;
	}
	
.even { background: #fff; }
.odd { background: #fff; }

.odd:hover, .even:hover { background: #f3edf6; }

.record { padding: 10px;  }


h4 a {
	font-family: 'Signika', sans-serif;
	color: #6d2780;
	text-decoration: none;
	font-weight: 400;
	font-size: 16px;
	margin: 0;
	padding: 0;
	display: block;
	line-height: 18px;
}

.class-detail h4 {
	font-family: 'Signika', sans-serif;
	color: #6d2780;
	font-size: 20px;
	line-height: 20px;
	margin: 0 0 20px 0; 
	padding: 10px 0 0 0;
	font-weight: 400;
	text-decoration: none;
}

h4 a:hover {
	color: #6d2780;
	text-decoration: underline; 
	}
	
.authors {
	margin: 0;
	font-style: italic;
	line-height: 14px;
	}
	
.share-bear { background: #f2f0f0; font-size: 11px; height: 22px; line-height: 11px; padding: 3px 5px; }

.row:hover .share-bear { background: #fff; }

.share {
	float: left;
	margin: 0px;
	padding: 3px;
	width: 100px;
	}
	
.share img { float: left; margin: 0 5px 0 0; }

.export p { float: left; width: 50px; }	

.share p { padding: 0; margin: 0; }
	
.share a { display: inline !important; text-decoration: none; color: #333; }	

.ratings {
	border-right: 1px solid #fff;
	}
	
.export {
	border-left: 1px solid #f2f0f0;
	padding-left: 10px;
	}
	
.share-this {
	border-left: 1px solid #f2f0f0;
	border-right: 1px solid #fff;
	padding: 3px 10px;
	}
	

p.activity {
	color: #474747;
	margin: 0px 0 0 0;
	float: right;
	width: 140px;
	color: #666;
	padding: 5px 0 5px 5px;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	font-family: 'Signika', sans-serif;
	font-weight: 700;
	-moz-box-shadow:     -1px 1px 3px #ddd;
   -webkit-box-shadow:  -1px 1px 3px #ddd;
   box-shadow:          -1px 1px 3px #ddd;
   background-color: #ffe;
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffee), to(#ffffcc));
   background-image: -webkit-linear-gradient(top, #ffffee, #ffffcc); 
   background-image:    -moz-linear-gradient(top, #ffffee, #ffffcc);
   background-image:     -ms-linear-gradient(top, #ffffee, #ffffcc);
   background-image:      -o-linear-gradient(top, #ffffee, #ffffcc);
   -webkit-border-bottom-left-radius: 10px;
	
}



/* DETAILS */



#pane {
	background: #fff;
	width: 598px;
	padding: 0 10px 20px 10px;
	-moz-box-shadow:     0px 0px 3px #ddd;
   -webkit-box-shadow:  0px 0px 3px #ddd;
   box-shadow:          0px 0px 3px #ddd;
  }


.text-label {
	width: 120px;
	font-style: italic;
	display: block;
	float: left;
	}



	
.class-detail .authors {
	margin: 0 0 5px 0;
	color: #000;
	}

		
.date {
	font-weight: 300;
	}
	
.by a {
	color: #003471;
	text-decoration: none;
	text-transform: none;
	}
	
.doi a {
	color: #003471;
	text-decoration: none;
	font-weight: 400;
	}


hr.tab-rule { width: 579px; }	
table.tab-table { width: 579px; }



#metrics, #shareme {
	background: #f2f0f0;
	-moz-box-shadow:     0px 0px 3px #ddd;
   -webkit-box-shadow:  0px 0px 3px #ddd;
   box-shadow:          0px 0px 3px #ddd;
   padding: 10px;
   margin-bottom: 15px;
   }

#findit {
	height: 35px;
	background: #f2f0f0;
	-moz-box-shadow:     0px 0px 3px #ddd;
   -webkit-box-shadow:  0px 0px 3px #ddd;
   box-shadow:          0px 0px 3px #ddd;
   padding: 10px;
   margin-bottom: 15px;
	}




#footer {
    background: #efedea;
    border-top: 1px solid #c0c0c0;
    padding: 20px 0;
    margin-top: 20px;
    }
    
#footer .container {
    background: url(../_img/fsu.png) top right no-repeat;
    }
    
    
#mask{position:absolute;left:0;top:0;z-index:9000;background-color:#000;display:none;}
#boxes .window{position:fixed;left:0;top:0;width:440px;height:200px;display:none;z-index:9999;padding:20px;}
#boxes #dialog{width:375px;height:203px;padding:10px;background-color:#ffffff;}


.rated {
	margin: 2px 2px 0 0;
	}
	
.rating-group {
	font-size: 90%;
	}
	
.export-tools {
	float: right;
	width: 50px;
	border: 1px solid #ccc;
	margin: 5px 5px 10px 15px;
	padding: 5px;
	}
	
.copyright {
    text-align: right;
    font-size: 90%;
    }
	
	
.tabs { padding: 0; clear: both; margin: 40px 0; }
.tabs li { display: inline; }
.tabs li a { padding: 10px; float:left; border-bottom: 1px solid #eee; text-decoration: none; color: #000;}
.tabs li.active a { background: #fff; border-bottom: 1px solid #fff !important; }
.content { float: left; clear: both; border: 1px solid #eee; 
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
		border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-right-radius: 5px;
		border-bottom-right-radius: 5px; border-top: none; background: #fff; padding: 20px; width: auto; margin: 0; }

	

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Standard 960 (devices and browsers) */
	@media only screen and (min-width: 960px) {
	#login { height: 450px; }
	}


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	#pane, #pane-results { width: 470px; }
	#login { height: 400px; }
	hr.tab-rule { width: 449px; }	
	table.tab-table { width: 449px; }
	
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
	#pane, #pane-results { width: 278px; }
	.knockout { display: none; }
	hr.tab-rule { width: 259px; }	
	table.tab-table { width: 259px; }
	
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	#pane, #pane-results { width: 398px; }
	.knockout { display: none; }
	.share-bear { height: 44px; }
	.share-this { clear: left; }
	hr.tab-rule { width: 379px; }	
	table.tab-table { width: 379px; }
	#tabs li a { padding-left: 8px; padding-right: 8px;}
	
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) { 
	#social-login { text-align: center; }
	#social-login a { margin: 0 auto; display: inline; }
	.share-bear { height: 44px; }
	img.rated { clear: left; display: block; }
	#tabs li a { padding-left: 5px; padding-right: 5px;}

	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/