{% extends 'base.html.twig' %}
{% block page_content %}
<div class="one-third column">
	    <div class="boxed">
	    
	    <h2>Saved Searches</h2>
	    
	    <ul class="activity-list">
	    <li><a href=""><img src="/assets/_img/button_remove.png" title="Forget this Search" border="0" /></a> <a href="results.php">suicide + omega3 + craig + bryan</a></li>
	    <li><a href=""><img src="/assets/_img/button_remove.png" title="Forget this Search" border="0" /></a> <a href="results.php">thomas + joiner</a></li>
	    <li><a href=""><img src="/assets/_img/button_remove.png" title="Forget this Search" border="0" /></a> <a href="results.php">suicide + ptsd</a></li>
	    </ul>
	    
	    <h2>Recent Searches</h2>
	    
	    <ul class="activity-list">
	    <li><a href=""><img src="/assets/_img/button_add.png" title="Save this Search" border="0" /></a> <a href="results.php">suicide + omega3</a></li>
	    <li><a href=""><img src="/assets/_img/button_add.png" title="Save this Search" border="0" /></a> <a href="results.php">sleep + deprivation - opiates</a></li>
	    <li><a href=""><img src="/assets/_img/button_add.png" title="Save this Search" border="0" /></a> <a href="results.php">sleep + suicide + diet</a></li>
	    <li><a href=""><img src="/assets/_img/button_add.png" title="Save this Search" border="0" /></a> <a href="results.php">sleep + suicide + cholesterol</a></li>
	    <li><a href=""><img src="/assets/_img/button_add.png" title="Save this Search" border="0" /></a> <a href="results.php">blood + sugar + suicide</a></li>
	    </ul>
	    
	    </div>
	    </div>
		<div class="one-third column">
	    <div class="boxed">
	    <h2>Your Account</h2>
	    
	    <p><span class="profile-label">Name:</span> {{ account.info('firstName') }} {{ account.info('lastName') }}
	    <br /><span class="profile-label">Email:</span> {{ account.info('email') }}
	    <br /><span class="profile-label">About:</span> 140 character sentence?
	    <br /><span class="profile-label">Interests:</span> Suicide, PTSD, Military</p>
	    
	    <h4>Recent Activity</h4>
	    
	    <ul class="activity-list">
	    <li>Added <a href="detail.php">Suicide and Food Allergies</a> to Mendeley<br /><span class="activity-date">Oct 3, 2012</span></li> 
	    <li>Commented on <a href="detail.php">Suicide and Food Allergies</a><br /><span class="activity-date">Oct 3, 2012</span></li>
	    <li>Searched for <a href="results.php">suicide + omega3</a><br /><span class="activity-date">Oct 3, 2012</span></li>
	    <li>Shared <a href="detail.php">Suicide by choking</a><br /><span class="activity-date">Oct 3, 2012</span></li>
	    <li>Rated <a href="detail.php">Suicide by choking</a><br /><span class="activity-date">Oct 3, 2012</span></li>
	    </ul>
	    
	    </div>
	    </div>
	
	    <div class="one-third column">
		<div class="boxed">
	    
		<h2>Associated Profiles</h2>
		<p><em>An associated profile lets you log in to Citagora using the credentials already established at an outside service or social network.</em></p>
		
		
		<p>You have associated the following social media profiles with your Citagora account:</p>
		<ul>
		<li><a href=""><img src="/assets/_img/button_remove.png" title="Forget this Search" border="0" /></a> <a href="">Facebook</a></li>
		</ul>
		
		<p>Add additional profiles:</p>
		<ul>
		<li><a href=""><img src="/assets/_img/button_add.png" title="Save this Search" border="0" /></a> <a href="">Twitter</a></li>
		<li><a href=""><img src="/assets/_img/button_add.png" title="Save this Search" border="0" /></a> <a href="">Google</a></li>
		<li><a href=""><img src="/assets/_img/button_add.png" title="Save this Search" border="0" /></a> <a href="">LinkedIn</a></li>
		<li><a href=""><img src="/assets/_img/button_add.png" title="Save this Search" border="0" /></a> <a href="">OpenID</a></li>
		<li><a href=""><img src="/assets/_img/button_add.png" title="Save this Search" border="0" /></a> <a href="">Mendeley</a></li>
		<li><a href=""><img src="/assets/_img/button_add.png" title="Save this Search" border="0" /></a> <a href="">Zotero</a></li>
		</ul>
		</div>
		</div>
{% endblock %}