{% extends 'base.html.twig' %}
{% block page_content %}
    <h2>404 - Page Not Found</h2>
    <p>The page or resource you are looking for could not be found.</p>
{% endblock %}

{% block base_js %}
    {# No Javascript loaded for 404 Error Page #}
{% endblock %}