{% extends 'base.html.twig' %}
{% block page_content %}
    <h2>An Error Occured</h2>
    <p>We are sorry about this, but a systems administrator has been notified.</p>
{% endblock %}

{% block base_js %}
    {# No Javascript loaded for General Error Page #}
{% endblock %}