{% extends 'base.html.twig' %}
{% block page_content %}
    <h2>Maintenance</h2>
    <p>We are sorry about this, but Citagora is current unavaliable due to scheduled maintenance.</p>
    <p>{{ date() | date('Y M d')}}</p>
{% endblock %}

{% block base_js %}
    {# No Javascript loaded for Maintenance Page #}
{% endblock %}