#
# Hawk .htaccess File
#
# If using NGINX, then...
#
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond $1 !^(index\.php|dev\.php|assets|humans\.txt|robots\.txt)
    RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>

# Extra security for app_dev.php and hidden files
<filesMatch "/^[dev\.php|\.]/">
order deny,allow
deny from all
allow from 127.0.0.1
require valid-user
</filesMatch>